.search-domain-name {
  background: url('../../images/backgroundimg.png'), rgba(0, 0, 0, 0.904);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  .header {
    p {
      color: #ffffff;
    }
    h2 {
      color: #ffffff;
    }
  }
  .hostingPrices {
    margin: 60px 0;
    > div {
      margin: 0 15px;
    }
  }
  .searchBox {
    max-width: 605px;
    width: 100%;
    margin: auto;
    .input-group {
      border: 10px solid $themeColor;
      input {
        border-radius: 0px;
      }
      > span {
        background: black;
        .form-select {
          background-color: transparent;
          background: url('https://api.iconify.design/akar-icons/chevron-down.svg?color=white')
            no-repeat;
          background-position: 75% center;
          border: 0;
          padding: 0 50px;
          color: #ffffff;
          option {
            color: #000000;
          }
        }
      }
    }
  }
}
