.what-clients-say {
  background: $navBackground;
  > .container {
    .mySwipertwo {
      margin-top: 70px;
      .swiper-wrapper {
        .swiper-slide {
          padding: 15px;
          > .position-relative {
            p {
              left: 0;
              top: -100%;
              z-index: -1;
              opacity: 0.4;
            }
          }
          .star-ratings {
            button {
              color: $thirdFontColor;
            }
          }
          .review-text {
            border-left: 2px solid $themeColor;
            padding-left: 15px;
            color: $thirdFontColor;
            line-height: 1.3;
          }
          .client-info {
            .client-img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-right: 20px;
            }
            h4 {
              color: $primaryFontColr;
            }
            p {
              color: $secondaryFontColor;
            }
          }
        }
      }
    }
    .next-review,
    .prev-review {
      &:hover {
        color: $themeColor;
      }
    }
  }
}
